/*
 Theme Name:     Highscope
 Theme URI:      https://www.elegantthemes.com/gallery/divi/
 Description:    Divi Child Theme for Highscope
 Author:	 Boxcar Studio
 Author URI:	 https://boxcarstudio.com
 Template:       Divi
 Version:	 1.0.0
*/
  
/* =Theme customization starts here
------------------------------------------------------- */
/* h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	text-decoration: underline;
} */

.et-social-linkedin a.icon:before { content: '\e09d'; }


.single-location #main-content .container:before,
.single-person #main-content .container:before{
	display: none;
}

.single-person .et_pb_row.et_pb_row_fullwidth, .single-person .et_pb_specialty_fullwidth>.et_pb_row,
.single-person .et_pb_fullwidth_header .et_pb_fullwidth_header_container {
    width: 100%!important;
    max-width: 100%!important;
}

@media only screen and (min-width: 981px) and (max-width:1025px) {
	.single-person .et_pb_team_member_description {
    	font-size: 14px;
	}
}

#wpadminbar {
	z-index: 1000001;
}

#et-footer-nav ul, #et-footer-nav li {
    vertical-align: top;
    text-align: left;
}
#et-footer-nav ul.bottom-nav {
	display: flex;
	justify-content:space-around;
	flex-wrap: wrap;
}
.bottom-nav li {
	padding: 0;
}
.bottom-nav > li {
	padding: 0 10px;
}


/* PAGINATION */

ul.pagination {
    position: relative;
    width: 100%;
    border-top: 1px solid #e2e2e2;
	text-align: center;
}

ul.pagination li {
    display: inline-block !important;
    padding: 10px;
}

.et_pb_filterable_portfolio .et_pb_portofolio_pagination ul, .et_pb_gallery .et_pb_gallery_pagination ul {
    text-align: center;
}

.et_pb_filterable_portfolio .et_pb_portofolio_pagination ul li a, .et_pb_gallery .et_pb_gallery_pagination ul li a {
    color: #00a3e0;
}

.et_pb_filterable_portfolio .et_pb_portfolio_filters li a.active, .et_pb_filterable_portfolio .et_pb_portofolio_pagination ul li a.active {
	color: #666 !important;
}


/* HERO MENU OVERRIDE */

/* #page-container{ 
	padding-top:0px !important;
} */

.et_fixed_nav.et_show_nav.et_secondary_nav_enabled #page-container, .et_non_fixed_nav.et_transparent_nav.et_show_nav.et_secondary_nav_enabled #page-container {
    padding-top: 42px;
}

/* MOVED FROM DIVI THEME OPTIONS */

/* .et_pb_pagebuilder_layout.single-location #page-container .et_pb_row {
width: 100%;
}
.et_pb_pagebuilder_layout.single-location #page-container .et_pb_with_background .et_pb_row {
width: 80%;
} */

#top-header .container {
    width: 96%;
    max-width: none;
}

.et_pb_inner_shadow {
    -webkit-box-shadow: inset 0 0 80px rgba(0,0,0,1);
    -moz-box-shadow: inset 0 0 80px rgba(0,0,0,1);
    box-shadow: inset 0 0 80px rgba(0,0,0,1);
}

.right-border {
    border-right: 1px solid #fff;
    padding-right: 5.5%;
}

.right-border-blue {
    border-right: 5px solid rgba(0,163,224,0.5);
    padding-right: 100px;
}

.right-border-blue:before {
    content: " ";
    display: block;
    background-color: #fff;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 6px solid #00a2e0;
    position: absolute;
    right: -24px;
}

.divider:after {
    content: " ";
    display: block;
    position: relative;
    height: 1px;
    width: 70px;
    background: #fff;
    margin: 20px auto 0px auto;
}

/* .blue-box {
   padding:30px !important;
}

.blue-box:before {
    content: " ";
    background: #e1f4fb;
    width: 30%;
    height: 70%;
    max-height: 215px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
} */


h1, h2, h3, h4, h5, h6 {
    padding-top: 10px;
}

h1 {
    color: #01216a;
}

h2 {
    font-size:1.75em;
	font-weight: 700;
    letter-spacing: 1px;
}

h3 {
    font-weight:700;
	font-size: 1.5em;
	line-height: 1.5em;
}

h3 small {
    text-transform: none;
    font-size: 16px;
    font-weight: 400;
}

h4.entry-title, h4 {
    font-size: 1.25em;
	line-height:1.5em;
}

h2, h5 {
   color: #00a3e0;
}

h5 {
    font-size: 14px;
    letter-spacing: 2px;
}

sup, sub {
	font-size:small;
}

.et_pb_column_1_3 h1, .et_pb_column_1_4 h1 {
    font-size: 50px;
}

large {
    font-size: 20px;
    font-weight: 700;
}

/* BLURBS */

.cta .et_pb_module_header {
    display: inline-block;
    padding: 10px 20px 10px 40px;
    font-size: 26px;
    margin-bottom: 30px;
}

.cta .et_pb_blurb_description {
    padding: 20px 40px;
}

.cta {
    height: 100%;
}

.et_pb_blurb_position_left .et_pb_main_blurb_image, .et_pb_blurb_position_right .et_pb_main_blurb_image {
    width: 50px;
}


/* BUTTONS */

	a.bigblue, a.smallblue {
    border: 0px;
    box-shadow: none;
    text-shadow: none;
    color: #fff !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #00a2e0;
}

a.small-button {
    border-radius: 50px;
    padding: 5px 50px;
    display: inline-block;
    margin: 20px 0;
}

.et_pb_bg_layout_light.et_pb_module.et_pb_button {
	color: #fff;
}

input[type="submit"] {
    background: #03a2e1;
    color: #fff;
    border-radius: 30px;
    padding: .5em 1em!important;
    border: 0;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.7em!important;
}

/* NAV STYLES */

.et_fixed_nav #top-header {
    z-index: 1000000;
}

.et_header_style_left .logo_container {
    top: -20px;
    width: 30%;
	float: left;
}

header#main-header, #main-header.et-fixed-header {
    z-index: 100000;
    box-shadow: none !important;
}

/* Projects */
.single-project .et_pb_title_featured_container img {
	max-width: 350px;
	padding: 0 0 1em 1em;
	float: right;
	margin-top: 2em;
}
.single-project .et_pb_text .et_pb_text_inner p {
	background: none !important;
}

/* MEMBERSHIP VIEWS */
.single-membership-resource .et_post_meta_wrapper {
	display: none;
}
.filter-head {
    font-size: 18px;
}

.membershipLabels {
    display:block;
}

select.js-wpv-filter-trigger.form-control {
    width: 100%;
    margin-bottom: .6em;
    font-size: 16px;
}
.membership-img {
    display:inline-block;
    vertical-align:top;
    background-size:cover;
    width:50%;
    min-height:200px;
}

.membership-info {
    width:50%;
    display:inline-block;
    padding:20px;
}

.membership-resources li{
    list-style:none;
    display:flex;
    margin-bottom: 20px;
    border: 1px solid #bfbfbf;
    box-shadow: 4px 4px 0px rgba(0,163,224,.5);
}

.pmpro_checkout-fields #accountid_div {
	display: none;
}

.term {
    font-weight:700;
    text-transform:uppercase;
}

.tags {
    font-size:14px;
}

.page-id-1237 #main-header, .page-id-1237 #main-footer, .page-id-1237 #top-header {
	display: none;
}
.page-id-1237 #page-container {
	padding-top: 0 !important;
}
.pmpro_a-print {
	font-size: 24px;
}

@media screen and (max-width: 782px) {
    header .container {
	 width: 100%;
    }
	#et-secondary-menu, #et-secondary-nav {
		display: inline-block !important;
	}
	#et-secondary-menu {
		float: right;
	}
	div#guide {
		display: none;
	}
	#top-header .container {
		padding-top: .75em;
	}
	.admin-bar #top-header .container {
		padding-top: 1em;
	}
}

.et_pb_login a {
    display: block;
}

.pmpro-no-access {
   padding: 100px;
}

.pmpro_btn, .pmpro_btn:link, .pmpro_content_message a, .pmpro_content_message a:link {
    background-color: #02ace4;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    border: 0;
    border-radius: 20px;
}

ul#menu-membership-sidebar a {
    display: inline-block;
    background-color: #1fade1;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 14px;
	border: 2px solid #31b6e2;
	transition: all ease 0.5s;
}
ul#menu-membership-sidebar .current-menu-item a, ul#menu-membership-sidebar a:hover {
    background-color: #ffffff;
    color: #31b6e2;
}


/* GUIDE */

div#guide {
    position: absolute;
}

/* TESTIMONIAL */

.et_pb_testimonial p {
    font-family: "adobe-garamond-pro",serif;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    font-style: italic;
}

strong.et_pb_testimonial_author {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
}

p.et_pb_testimonial_meta {
    font-style: normal;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 0;
    text-transform: uppercase;
}

.et_pb_testimonial:before {
    content: "\7b";
    bottom: -15px;
    position: absolute;
    top: auto;
}

/* RESOURCES */

body .library-item a:hover {
    color: #2ea3f2;
}

input.form-control {
    height: 28px;
    font-size: 16px;
}

/* ------ MAP */

div#imap2message {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #000;
    border-top: 10px solid #00a3e0;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    color: #025eb8;
}

.google-visualization-tooltip {
    max-width: 40%;
border: 1px solid #c0c0c0;
    border-top: 10px solid #00a3e0 !important;
    padding: 20px !important;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    color: #025eb8 !important;
}

.global .iwm_map_canvas {
    width: 60% !important;
}

#imap2message h2, .google-visualization-tooltip h2 {
    font-size: 24px;
    font-weight: 400;
   margin-bottom: 15px !important;
}

.google-visualization-tooltip p {
   margin-bottom: 15px !important;
   font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
   font-size: 16px !important; 
}

g g:hover {
    cursor: pointer;
}

/* FOOTER */

p.copyright, p.copyright a {
    font-size: 11px;
    color: #fff;
}

.footer-logo span {
    text-transform: uppercase;
    color: #fff;
    margin-left: 40px;
    top: -7px;
    position: relative;
}

ul#menu-footer-menu > li {
    text-transform: uppercase;
    vertical-align: top;
}

ul#menu-footer-menu ul.sub-menu {
    margin-top: 10px;
}

ul.sub-menu > li {
    text-transform: none;
    display: block;
}

/* Karen 2018-7-30: added border-bottom, vertical-align, padding-bottom 20px, margin-bottom. vertical align did not work. */

div#et-footer-nav .container {
    border-top: 1px solid #00A3E0;
	border-bottom: 1px solid #00A3E0;
	vertical-align:top;
    padding: 10px 0 20px 0;

}

ul.social li:before {
    display: none;
}

ul.social li {
    display: inline-block;
    padding-left: 0 !important;
    margin: 0 10px 0 0;
}

ul.social li span {
    font-size: 0;
}

ul.social li i {
    font-size: 25px;
    line-height: 33px;
    background: #00A3E0;
    padding: 10px;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #012169;
}

.btn {
    background: #00a3e0;
    padding: .3em 1em!important;
    display: inline-block;
    font-size: 14px;
    background: #00a3e0;
    border-color: #00a3e0;
    border-radius: 50px;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    border-radius: 50px;
	color: #fff;
	line-height:1.7em;
	cursor:pointer;
}

footer .container, footer #et-footer-nav {
    width: 100%;
    max-width: 100%;
    padding-right: 60px !important;
    padding-left: 60px;
}

footer #et-footer-nav .container {
    padding-left: 10px;
    padding-right: 10px !important;
    text-align: center;
}

ul#menu-footer-menu {
    margin: 0 auto;
    display: block;
    text-align: left;
}

.et_pb_widget {
	margin-right: 3em;
}

/* SLIDER */

.et_pb_slide_description .et_pb_slide_title {
    font-size: 60px !important;
}




/* MEDIA QUERIES */

@media only screen and (max-width: 1265px) {
/* 	.et-db #et-boc .et_pb_post_title_0 .et_pb_title_container h1.entry-title, .et-db #et-boc .et_pb_post_title_0 .et_pb_title_container h1.entry-title, .et-db #et-boc .et_pb_post_title_0 .et_pb_title_container h2.entry-title, .et-db #et-boc .et_pb_post_title_0 .et_pb_title_container h3.entry-title, .et-db #et-boc .et_pb_post_title_0 .et_pb_title_container h4.entry-title, .et-db #et-boc .et_pb_post_title_0 .et_pb_title_container h5.entry-title, .et-db #et-boc .et_pb_post_title_0 .et_pb_title_container h6.entry-title {
		font-size: 40px !important;
	}
	
	h2, .et-db #et-boc h2, .product .related h2, .et-db #et-boc .product .related h2, .et-db #et-boc .et_pb_column_1_2 .et_quote_content blockquote p {
    font-size: 34px !important;
	}
	
	h3, .et-db #et-boc h3 {
    font-size: 30px !important;
}
	
	h4, .et-db #et-boc h4, .et-db #et-boc .et_pb_circle_counter h3, .et-db #et-boc .et_pb_number_counter h3, .et-db #et-boc .et_pb_column_1_3 .et_pb_post h2, .et-db #et-boc .et_pb_column_1_4 .et_pb_post h2, .et-db #et-boc .et_pb_blog_grid h2, .et-db #et-boc .et_pb_column_1_3 .et_quote_content blockquote p, .et-db #et-boc .et_pb_column_3_8 .et_quote_content blockquote p, .et-db #et-boc .et_pb_column_1_4 .et_quote_content blockquote p, .et-db #et-boc .et_pb_blog_grid .et_quote_content blockquote p, .et-db #et-boc .et_pb_column_1_3 .et_link_content h2, .et-db #et-boc .et_pb_column_3_8 .et_link_content h2, .et-db #et-boc .et_pb_column_1_4 .et_link_content h2, .et-db #et-boc .et_pb_blog_grid .et_link_content h2, .et-db #et-boc .et_pb_column_1_3 .et_audio_content h2, .et-db #et-boc .et_pb_column_3_8 .et_audio_content h2, .et-db #et-boc .et_pb_column_1_4 .et_audio_content h2, .et-db #et-boc .et_pb_blog_grid .et_audio_content h2, .et-db #et-boc .et_pb_column_3_8 .et_pb_audio_module_content h2, .et-db #et-boc .et_pb_column_1_3 .et_pb_audio_module_content h2, .et-db #et-boc .et_pb_gallery_grid .et_pb_gallery_item h3, .et-db #et-boc .et_pb_portfolio_grid .et_pb_portfolio_item h2, .et-db #et-boc .et_pb_filterable_portfolio_grid .et_pb_portfolio_item h2 {
    font-size: 26px !important;
} */
}

@media only screen and (max-width: 980px) {
	.hmenu_logo img {
    	max-height: 66% !important;
	}
	
	.right-border {
		border: 0;
		padding-right: 0;
	}
	
	.et_pb_column .et_pb_row_inner, .et_pb_row {
    	padding: 0;
	}
	
	.et_pb_section {
    	padding: 30px 0;
	}
	
	/* SLIDER */

.et_pb_slide_description .et_pb_slide_title {
    font-size: 30px !important;
}

}

@media only screen and (max-width: 767px) {
	
/* 	.et-db #et-boc .et_pb_post_title_0 .et_pb_title_container h1.entry-title, .et-db #et-boc .et_pb_post_title_0 .et_pb_title_container h1.entry-title, .et-db #et-boc .et_pb_post_title_0 .et_pb_title_container h2.entry-title, .et-db #et-boc .et_pb_post_title_0 .et_pb_title_container h3.entry-title, .et-db #et-boc .et_pb_post_title_0 .et_pb_title_container h4.entry-title, .et-db #et-boc .et_pb_post_title_0 .et_pb_title_container h5.entry-title, .et-db #et-boc .et_pb_post_title_0 .et_pb_title_container h6.entry-title {
    font-size: 30px !important;
}
	
	h2, .et-db #et-boc h2, .product .related h2, .et-db #et-boc .product .related h2, .et-db #et-boc .et_pb_column_1_2 .et_quote_content blockquote p {
    font-size: 24px !important;
	}
	
	h3, .et-db #et-boc h3 {
    	font-size: 20px !important;
	} */
	
	.et_pb_widget {
    	margin-right: 0;
	}
	
	footer .container, footer #et-footer-nav {
    	width: 100%;
    	max-width: 100%;
    	padding-right: 30px !important;
    	padding-left: 30px;
	}
	
	#et-footer-nav ul.bottom-nav {
    	display: block;
	}
	
	#et-footer-nav ul.bottom-nav > li {
    	margin-bottom: 20px;
	}
	
	p.copyright {
    	line-height: 1.5em;
	}	
	
	.footer-logo span {
    	display: block;
    	margin: 0;
	}
	
	#hmenu_load_1 .hmenu_list_content h3, #hmenu_load_1 .hmenu_navigation_holder > ul li a, .hmenu_social_holder > ul li a, .hmenu_product_holder > ul li a, #hmenu_load_1 .hmenu_navigation_holder > ul > li > a > .hmenu_wrap, #hmenu_load_1 .hmenu_mega_sub h3 {
    font-size: 14px !important;
	}
	
	#hmenu_load_1 .hmenu_post_item, #hmenu_load_1 .hmenu_list_item {
    	padding: 0 !important;
	}
	
#hmenu_load_1 .hmenu_col_1, #hmenu_load_1 .hmenu_col_2, #hmenu_load_1 .hmenu_col_3, #hmenu_load_1 .hmenu_col_4, #hmenu_load_1 .hmenu_col_5, #hmenu_load_1 .hmenu_col_6, #hmenu_load_1 .hmenu_col_7, #hmenu_load_1 .hmenu_col_8, #hmenu_load_1 .hmenu_col_9, #hmenu_load_1 .hmenu_col_10, #hmenu_load_1 .hmenu_col_11, #hmenu_load_1 .hmenu_col_12 {
    	padding-bottom: 12px !important;
	}
	
	#hmenu_load_1 .hmenu_mega_inner {
    	padding: 20px 10px !important;
	}
	
	.menu_responsive_label {
    display: none !important;
	}
	
	body .et_pb_button, .woocommerce a.button.alt, .woocommerce-page a.button.alt, .woocommerce button.button.alt, .woocommerce-page button.button.alt, .woocommerce input.button.alt, .woocommerce-page input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce-page #respond input#submit.alt, .woocommerce #content input.button.alt, .woocommerce-page #content input.button.alt, .woocommerce a.button, .woocommerce-page a.button, .woocommerce button.button, .woocommerce-page button.button, .woocommerce input.button, .woocommerce-page input.button, .woocommerce #respond input#submit, .woocommerce-page #respond input#submit, .woocommerce #content input.button, .woocommerce-page #content input.button, .woocommerce-message a.button.wc-forward {
    letter-spacing: 1px;
}
	
	div#imap2message {
    	width: 100%;
		font-size: 12px;
	}

	
}


/* Remove this style for Go-Live */
.et-cart-info { display:none !important; }
/** Commerce styles **/

.product-category{
    width: 250px;
}
section#about {
    padding-top: 50px;
    padding-bottom: 50px;
}
ul.breadcrumb {
    margin-bottom: 30px;
}
.breadcrumb>li {
    display: inline-block;
}
.breadcrumb>li>.divider {
    color: #222c64!important;
    padding: 0 .5em;
}
.shop-subpage .divider:after{
    display: none;
}
.section-title h1 {
    font-size: 30px;
    padding-bottom: 20px;
}
span.cat-sub-title {
    font-size: x-large;
    color: rgb(61, 193, 204);
    display: block;
    margin-bottom: 5px;
}
ul.shopsub-list {
    margin-top: 20px;
    list-style-type: disc;
    margin-left: 25px;
    margin-bottom: 30px;
}
.sub-cat-row {
    display: flex;
    flex-wrap: wrap;
}
.sub-cat-box {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    max-width: 50%;
    flex-basis: 50%;
}
@media only screen and (min-width: 980px) {
    .sub-cat-box {
        max-width: 25%;
        flex-basis: 25%;
    }
}
span.product-link a {
    color: #222c64;
    font-size: 20.8px;
}
.woocommerce .woocommerce-breadcrumb a {
    font-size: 16px;
}
.addSpace {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif!important;
    color: #00a3e0;
}
h1.woocommerce-products-header__title.page-title {
    font-size: 30px;
}
.ListingHeader {
    margin: 30px 0 73px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.ListingHeader .woocommerce-result-count {
    float: none !important;
    flex-grow: 1;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    color: #595959;
}
.ListingHeader nav.gridlist-toggle {
    margin-right: 20px !important;
    font-weight: 400;
    display: flex;
    align-items: center
}
.ListingHeader .result_per_page {
    margin-right: 20px;
    font-weight: 400;
    display: flex;
    align-items: center
}
 .ListingHeader .woocommerce-ordering {
    font-weight: 400;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}
.ListingHeader .gridlist-toggle a {
       padding: 0;
    background: transparent !IMPORTANT;
    display: inline-block;
    color: #bbb;
    margin-left: 15px;
}
.ListingHeader .gridlist-toggle a.active {
        color: #222c64;
}
/*
.per_page_data{
	border-color: #d9dfe0!important;
    color: #a9a9a9;
    height: 41px;
    width: 90px;
    margin-left: 5px;
}
.ListingHeader .orderby{
	border: 1px solid #d9dfe0!important;
	color: #a9a9a9 !IMPORTANT;
	height: 41px;
	width: 120px;
	margin-left: 5px;
	background: transparent;
	font-size: 16px;
}
*/
.archive header,.single-product header {
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 25px;
}
/*
.archive span.et_shop_image {
    margin: 0 0 10px;
    -webkit-box-shadow: 0 0 8px 0 rgb(0 0 0 / 27%);
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 27%);
    height: 320px;
    display: flex;
    align-items: center;
}
*/
.archive .woocommerce-loop-product__title {
    color: #222c64;
}
.ListingHeader .dashicons, .ListingHeader .dashicons-before:before{
    display: inline-block;
    font: normal normal normal 14px/1 evo_FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 35px !IMPORTANT;
}
.ListingHeader .gridlist-toggle .dashicons:before, .ListingHeader .gridlist-toggle .dashicons{
    height: auto;
    width: auto;
}
.ListingHeader .dashicons-grid-view:before {
    content: "\f00a";
}
.ListingHeader .dashicons-exerpt-view:before {
    content:"\f00b";
}
.archive span.price {
    float: none !IMPORTANT;
}
.archive span.price bdi {
    color: #595959 !IMPORTANT;
    font-size: 20px;
    font-weight: 700;
}
.repeated_unput{
    width: 28%;
}
.plus-add, .remove-minus{
    cursor:pointer;
}
.initial span.remove-minus {
    display: none;
}

.dropbtn {
    border: none;
    padding: 10px;
    background: #00a3e0;
    color: #fff!important;
}

.users_dropdown {
  position: relative;
  display: inline-block;
}

.users_dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}

.users_dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.users_dropdown-content a:hover {background-color: #ddd;}

.users_dropdown:hover .users_dropdown-content {display: block;}

.users_dropdown:hover .dropbtn {background-color: #3e8e41;}

.plus-add, .remove-minus{
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #00a3e0;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    color: #fff;
    font-weight: 500;
}
input.repeated_unput {
    height: 35px;
}
.inner_multiples.initial {
    margin-top: 5px;
    margin-bottom: 5px;
}
.woocommerce h2 {
    font-size: 26px !important;
    padding-bottom: 21px;
}
.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
    font-size: 1em !important;
    line-height: 1.4em;
}
.woocommerce ul.products li.product a img {
    max-width: 202px;
    margin: 0 auto 15px !important;
    height: 200px;
    object-fit: contain;
}
@media (min-width: 768px) {
    .woocommerce ul.products.list li.product a img {
        margin-right: 3% !important;
    }
}
.product .related h2, .woocommerce h2 {
    font-size: 28px !important;
    padding-bottom: 30px;
}
.woocommerce-page ul.products li {
    box-shadow: 0px 0px 7px #00000014;
    padding: 2% 2.5% !important;
}
span.et_shop_image {
    position: static;
}
ul.products {
    display: flex;
    flex-wrap: wrap;
}

section.related.products h2:first-child {
    color: #01216a;
    text-transform:uppercase;
}
.woocommerce .ced h2:first-child {
    color: #01216a;
    text-transform: uppercase;
}
p.let-err {
    color: red;
    margin-bottom: 0;
    padding-bottom: 0;
    display: flex;
}
input.repeated_unput.eror-border {
    border: 1px solid red;
}
.swal-text {
    text-align: center;
}
p#order_comments_field {
    display: none;
}
.et_search_form_container input {
    background: #fff;
}
i.wpmenucart-icon-shopping-cart-0 {
    margin: 4px 4px 0 0 !important;
    width: 36px;
    height: 36px;
    background-image: url(/wp-content/uploads/2021/07/ic-cart-circle.png);
    display: inline-block;
}
i.wpmenucart-icon-shopping-cart-0:before {display: none}
i.wpmenucart-icon-shopping-cart-0 + span{
    position: absolute;
    white-space: nowrap;
    background: #fff;
    z-index: 2;
    top: -6px;
    left: 15px;
    width: 21px;
    overflow: hidden;
    font-size: 10px;
    border: 1px solid #00a3e052;
    border-radius: 50%;
    text-align: center;
    height: 21px;
    line-height: 19px;
    padding: 0;
}

.et_header_style_left #et-top-navigation nav>ul>li>a.wpmenucart-contents {
    padding: 0 !important;
}
Header form[role="search"]{
    background: #fff;
}
Header form[role="search"] button.search-submit {
    display: none !IMPORTANT;
}
Header .ysm-search-widget form[role="search"] label {
    position: unset;
}
@media (min-width: 981px){
   nav#top-menu-nav, #top-menu,  nav.et-menu-nav, .et-menu {
        display: flex;
   } 
}

.form-title{
    padding-top: 40px;
    font-size: 20px;
    padding-bottom: 1em !important;
}
.woocommerce-form input[type=number]{
    background-color: #fff;
    border: 1px solid #bbb;
    color: #4e4e4e;
}
.mt-4 {
    margin-top: 1em !IMPORTANT;
}
.woocommerce-form .col-12{
        width: 100%;

    }
.product-page .smart-search-results {
    min-height: 400px;
    margin-top: -3px;
}
@media (min-width: 768px){  
.woocommerce-form .row {;
        margin: 0 -15px

    }
    .woocommerce-form .col-3 {
        width:25%;
        padding: 0 15px

    }
    .woocommerce-form .col-6 , .woocommerce-form .col-12{
        padding: 0 15px

    }
}
@media (min-width: 768px) and (max-width: 768px){  
    .four-col .col-3{
        width: 49%;
    }
}
@media (max-width: 767px){  
    .woocommerce-form .col-3{
        width: 100%;
    }
}
/*-------------Shop page----------------------*/
.page-common.et_fixed_nav #top-header {
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 8px;
}
.page-common #top-header .container {
    padding-top: 8px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}
/*
.page-common #et-secondary-menu {
    float: none;
    display: flex !IMPORTANT;
    justify-content: space-between;
    align-items: center;
}
*/
.page-common #top-header .et-social-icons li {
    margin-top: 0;
    margin-left: 8px;
}
.page-common #top-header .et-social-icons li:first-child{
    margin-left: 0;
}
.page-common #top-header, #top-header a {
    color: #111111;
}
/*
.page-common #top-menu .menu-item-has-children > a:first-child,.page-common #et-secondary-nav .menu-item-has-children > a:first-child {
    padding-right: 0;
}
*/
.page-common #top-header .et-social-icon a {
    color: #333333;
    padding-bottom: 0;
}
.page-common header#main-header {
    padding-top: 9px;
}
.page-common.et_header_style_left #et-top-navigation,.page-common.et_header_style_split #et-top-navigation {
    padding-top: 7px;
    padding-bottom: 20px;
}
.page-common #top-menu li a,.page-common .et_search_form_container input {
    font-weight: 600;
}
.page-common nav#top-menu-nav,.page-common #top-menu, .page-common nav.et-menu-nav, .page-common .et-menu {
    display: flex;
}
#et_top_search {
    margin: 4px 10px 0 !important; 
    width: 36px;
    height: 36px;
    background-image: url(/wp-content/uploads/2021/07/ic-search-circle.png);
}
#et_search_icon:before {
    display: none;
}
.dropbtn {
    padding: 0;
    background: transparent;
    width: 36px;
    height: 36px;
    margin: 4px 0px 0 5px;
    background-image: url(/wp-content/uploads/2021/07/ic-user-circle.png);
}
.dropbtn svg{
    display: none;
}
.et-cart-icon {
    margin: 4px 4px 0 0 !important;
    width: 36px;
    height: 36px;
    background-image: url(/wp-content/uploads/2021/07/ic-cart-circle.png);
}
.page-common #footer-widgets .footer-widget li {
    padding-left: 0;
}
.page-common #main-footer .footer-widget h4 {
    color: #ffffff;
    margin-bottom: 5px;
    font-size: 18px;
}
.page-common .footer-links li:before {
    display: none;
}
.page-common .footer-widget a,.page-common .footer-widget p{  
    font-size: 14px;
}
.page-common #footer-bottom .footer-logo {
    display: flex;
    align-items: center;
}
.page-common .footer-logo span {
    margin-top: 5px;
}
.page-common #footer-widgets {
    border-bottom: 1px solid #01a3e0;
}
.with-icon {
    display: flex;
    align-items: flex-start;
}
.with-icon img {
    padding-right: 10px;
    position: relative;
    top: 4px;
}
p.img-box.with-icon.location-icon, a.img-box.with-icon.mail-icon,a.img-box.with-icon.phone-icon {
    padding-bottom: 8px;
}
a.img-box.with-icon.phone-icon {
    padding-bottom: 0px;
}
@media (max-width: 1700px) and (min-width: 1366px) {
    .page-common #top-menu li a {
        font-size: 14px;
    }
}
@media (max-width: 1400px) and (min-width: 1025px) {
    .page-common.et_header_style_left #et-top-navigation nav>ul>li>a, .page-common.et_header_style_split #et-top-navigation nav>ul>li>a {
        padding: 15px 5px!important;
    }
    .page-common #et_top_search,.page-common .et-cart-icon {
        margin: 4px 5px 0;
    }
    .product-page .product .price {
        font-size: 17px !important;
    }
}
@media (max-width: 1365px) and (min-width: 1025px){
    .page-common #top-menu li a {
        font-size: 12px;
    }
    .page-common.et_header_style_left #et-top-navigation nav>ul>li>a, .page-common.et_header_style_split #et-top-navigation nav>ul>li>a {
        padding: 10px 3px!important;
    }
}
@media (max-width: 1024px) {
    .page-common #top-menu{
        display: none !important;
    }
    .et_header_style_left #et-top-navigation,.et_header_style_split #et-top-navigation {
        padding-top: 7px;
        padding-bottom: 20px;
    }
    .et_header_style_left .logo_container {
        display: flex;
        align-items: center;
    }
}
@media (min-width: 981px){  
    .page-common.et_pb_gutters3.et_pb_footer_columns4 .footer-widget {
        width: 16%;
    }
    .page-common.et_pb_gutters3.et_pb_footer_columns4 .footer-widget:first-child, .page-common.et_pb_gutters3.et_pb_footer_columns4 .footer-widget:nth-child(2) {
    width: 21%;
    }
    .page-common.et_pb_gutters3 .footer-widget {
        margin-right: 2%;
        margin-bottom: 3%;
    }
    .page-common div#custom_html-2 {
        margin-bottom: 5%;
    }
    .page-common.et_fullwidth_nav Header form[role="search"], .page-common.et_fullwidth_nav .et_close_search_field {
        right: 170px;
    }
    .shop-banner {
        padding-top: 23px;
    }
    .page-common .footer-widget .widget_custom_html {
        margin-right: 0em;
    }
}

/*
.logged-in .shop-banner{
    padding-top: 23px;
}
*/
.shop-banner h1 {
    border-bottom: 0 !important;
}
.n2-ss-slider .n2-ss-slider-controls-absolute-left-center,.n2-ss-slider .n2-ss-slider-controls-absolute-right-center{
    display: none !important;
}
.n2-ss-slider .n2-ss-slider-controls-absolute-center-bottom {
    bottom: 10px;
}
.common-head {
    font-size: 44px;
    text-align: center;
    color: #00a3e0;
    font-weight: normal;
    font-weight: bold;
}
h6.common-smhead {
    font-size: 20px;
    color: #53565a;
    font-weight: normal;
    text-align: center;
    line-height: 1.5;
}
.services {
    padding: 10px 0 15px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.col-2 {
    width: 49%;
}
.col-3 {
    width: 32%;
    position: relative;
}
.features {
    padding: 30px 0 30px;
}
.features .img-box {
    position: relative;
    display: flex;
}
.features .img-box:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #01226966;
    display: block;
    top: 0;
    left: 0;
}
.features .img-box img {
    height: 280px;
    object-fit: cover;
    width: 100%;
}
.services .img-box,.services .features{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    display: flex;
}
.services .txt-box {
    padding: 8px 5% 25px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    min-height: 155px;
}
.services h4{
    color: #fff;
    font-size: 28px;
    font-weight: normal;
    line-height: normal;
    width: 100%;
}
.services p{
    color: #fff;
    font-size: 14px;
    line-height: 1.43;
    max-width: 70%;
    font-weight: normal;
}
.services .img-box img {
    height: 400px;
    object-fit: cover;
    width: 100%;
}
.btn.white-transbtn {
    background: transparent !important;
    border: 1px solid #fff !important;
    border-radius: 6px;
    cursor: pointer;
}
.orange-bg{
    background-color: #fc5c03;
}
.green-bg   {
    background-color: #43b02a;
}
.lightgreen-bg{
    background-color: #a7d500;
}
.blue-bg{
     background-color: #012169;
}
.light-bg {
    background-color: #f8f8f8;
}
.light-bg .container {
    padding-top: 0 !important;
}
.pos-txt {
    position: absolute;
    top: 7%;
    left: 4%;
    max-width: 51%;
}
.features h2 {
    font-size: 28px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
    padding-bottom: 0;
}
.features p {
    text-shadow: 0 1px 2px rgb(255 255 255 / 50%);
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
}
.btn.btn-blue {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-top: 15px;
    border-radius: 6px;
}
.shop-banner .btn.btn-blue {
    margin-top: 15px !Important;
}
.shop-banner h1 {
    white-space: normal!Important;
}
.main_title, .entry-content h1{
    font-size: 44px;
    text-align: center;
    color: #00a3e0;
    font-weight: normal;
    font-weight: bold;
    text-transform: capitalize;
}
.woocommerce-page div#et-main-area,.page-template-register div#et-main-area{
    position: relative;
}
.woocommerce-page div#et-main-area:before,.page-template-register div#et-main-area:before{
    content:"";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #012269;
    top: 8px;
}
article#post-77188 .woocommerce-form-login {
    max-width: 370px;
    margin: 15px auto 40px;
}
.woocommerce-account input[type=checkbox] {
    height: auto !IMPORTANT;
    vertical-align: middle;
}
form.woocommerce-ResetPassword.lost_reset_password {
    margin-bottom: 8%;
    border: 1px solid #d3ced2;
    padding: 20px;
    text-align: left;
    border-radius: 5px;
}
form.woocommerce-form.woocommerce-form-registrations {
    margin-bottom: 2em;
}
/*------------product page-----------*/
#main-content > .container{
    padding-top: 35px !important;
}
.product-page .product-banner {
/*    padding-top: 95px;*/
    background-color: #01a3e0;
    padding-bottom: 10px;
    margin-bottom: 30px
}
div#n2-ss-2 .n2-ss-slide-background:before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: #00000073;
    display: block;
    z-index: 11;
}
.product-page .product-banner {
    padding-top: 30px;
}
.product-page nav.woocommerce-breadcrumb a, .product-page nav.woocommerce-breadcrumb .addSpace{
    color: #fff;
}
.product-page nav.woocommerce-breadcrumb {
    color: rgba(255, 255, 255, 0.8);
}
.product-page nav.woocommerce-breadcrumb .addSpace {
    color: #fff;
}
.product-page .addSpace {
    padding: 0em 5px;
}
.product-banner h1 {
    color: #fff;
    font-size: 56px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    text-shadow: 0 2px 4px rgb(0 0 0 / 50%);
    padding-top: 0;
}
.product-banner .row {
    align-items: center;
}
.col-6{
    width: 50%;
}
.product-banner .ysm-search-widget-1 .search-field[type="search"] {
    border-width: 1px;
    background-color: #fff;
    border-radius: 6px;
    color: #666666;
    font-style: normal;
    font-size: 16px;
}
.product-banner .ysm-search-widget .search-submit {
    color: #bcbcbd;
}
.product-page #main-content .container {
    padding-top: 0 !important;
}
.product-page .product-categories ul.children {
    display: none;
}
.product-page .product-categories > li.active >  ul.children {
    display: block;
}
.product-page .product-categories a{
    font-size: 20px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #111111;
}
.product-page .product-categories > li.active > a{
      color: #01a3e0;
}
/*
@media (min-width: 1025px){
    .product-page .product-categories > li:hover > a + ul.children{
        display: block;
    }
    .product-page ul.product-categories > li:hover:before {
        background-image: url(/wp-content/uploads/2021/07/ic-arrow-up.png);
    }
}
*/
@media (max-width: 1400px) and (min-width: 1025px) {
    .product-page .product-categories a {
        font-size: 16px;
    }
}

.product-page h4.widgettitle {
    font-size: 28px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #111111;
    margin-bottom: 15px;
}
@media (min-width: 981px){
    .product-page.et_left_sidebar #sidebar {
        padding-right: 0;
    }
}
.product-page ul.product-categories > li {
    border-bottom: 1px solid #e1e1e1;
    padding: 0px 0px;
        position: relative;
}
.product-page ul.product-categories > li:before {
    content: '';
    position: absolute;
    right: 15px;
    width: 15px;
    height: 15px;
    background-image: url(/wp-content/uploads/2021/07/ic-arrow-down.png);
    background-repeat: no-repeat;
    top: 16px;
}
.product-page ul.product-categories > li > a {
    margin: 10px 0px;
    display: inline-block;
}
.product-page ul.product-categories > li.active > a {
    margin-bottom: 0px;
}
.product-page ul.product-categories > li.active:before{
    background-image: url(/wp-content/uploads/2021/07/ic-arrow-up.png);
}
.woocommerce-taxjar-form p{
    width:100% !important;
}
.woocommerce-taxjar-form select, input{
    height:40px !important;
}
select.multipels.woocommerce-Input.woocommerce-Input--text.input-text {
    height: 100px !important;
}
@media (min-width: 981px){
    .product-page.et_left_sidebar #main-content .container:before {
        left: 25% !important;
    }
    .product-page #sidebar {
        float: left;
        width: 25%;
    }
    .product-page #left-area {
        width: 75%;
        padding-bottom: 23px;
        padding-left: 3%;
    }
}
.product-page .product-categories ul.children {
    padding: 20px 0;
     -webkit-transition: all 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.50–12.00 */
          transition: all 0.3s ease-out; 
}

.product-page ul li ul.children > li {
    margin-bottom: 15px;
}
.product-page .product-categories ul.children a {
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    color: #111111;
}
@media (max-width: 1400px) and (min-width: 1025px) {
    .product-page .product-categories a {
        font-size: 17px;
    }
    .product-page .product-categories ul.children a {
        font-size: 16px;
    }
}
@media (max-width: 768px) {
    .product-page .product-categories a {
        font-size: 16px;
    }
    .product-page .product-categories ul.children a {
        font-size: 14px;
    }
}
.product-page .product-categories ul.children li.blue-txt a {
    color: #01a3e0;
}
#et_search_icon:hover, .mobile_menu_bar:before, .mobile_menu_bar:after, .et_toggle_slide_menu:after, .et-social-icon a:hover, .et_pb_sum, .et_pb_pricing li a, .et_pb_pricing_table_button, .et_overlay:before, .entry-summary p.price ins, .woocommerce div.product span.price, .woocommerce-page div.product span.price, .woocommerce #content div.product span.price, .woocommerce-page #content div.product span.price, .woocommerce div.product p.price, .woocommerce-page div.product p.price, .woocommerce #content div.product p.price, .woocommerce-page #content div.product p.price, .et_pb_member_social_links a:hover, .woocommerce .star-rating span:before, .woocommerce-page .star-rating span:before, .et_pb_widget li a:hover, .et_pb_filterable_portfolio .et_pb_portfolio_filters li a.active, .et_pb_filterable_portfolio .et_pb_portofolio_pagination ul li a.active, .et_pb_gallery .et_pb_gallery_pagination ul li a.active, .wp-pagenavi span.current, .wp-pagenavi a:hover, .nav-single a, .tagged_as a, .posted_in a {
    color: #01a3e0 !important;
}
.product-page .ListingHeader .woocommerce-result-count {
    float: none !important;
    flex-grow: 1;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    color: #333333;
}
.product-page .ListingHeader select {
    border: solid 1px #e1e1e1 !important;
    border-radius: 6px;
    width: 195px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    color: #333333 !IMPORTANT;
    -webkit-appearance: none;
    padding: 0px 10px;
    background: transparent;
    height: 41px;
}
.product-page .ListingHeader .gridlist-toggle a {
    margin-left: 25px;
}
.product-page .ListingHeader .gridlist-toggle a:last-child {
    margin-left: 10px;
}
.product-page .result_per_page,.product-page form.woocommerce-ordering {
    position: relative;
}
.product-page .result_per_page:before,.product-page form.woocommerce-ordering:before {
    content: '';
    position: absolute;
    right: 10px;
    width: 12px;
    height: 12px;
    background-image: url(/wp-content/uploads/2021/07/ic-arrow-down.png);
    background-repeat: no-repeat;
    background-size: contain;
    top: 17px;
}
.product-page .ListingHeader .dashicons, .product-page .ListingHeader .dashicons-before:before {
    font-size: 30px !IMPORTANT;
}
.product-page .products span.et_shop_image {
    text-align: center;
    margin: 5px 0 15px;
}
.product-page .et_shop_image img {
    height: 220px;
    object-fit: contain;
    max-width: 220px;
}
.product-page .products.list .et_shop_image img {
    height: auto;
    max-height: 350px;
    object-fit: cover;
    width: 200px;
}
.product-page .products.list span.et_shop_image {
    text-align: left; 
    margin: 5px 0 15px;
    float: left;
    margin-right: 3%;
}
.product-page ul.products {
/*    justify-content: space-between;*/
}
.product-page ul.products li {
    padding: 20px 15px 24px;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 6%);
    position: relative;
    margin-bottom: 3%;
}
.product-page ul.products.list li {
    width: 100%;
}
@media (min-width: 1900px) {
.page-common .container {
    max-width: 1665px;
    width: 90%;
}
}
@media (max-width: 1799px) and (min-width: 768px) {
    .product-page ul.products:not(.list) li:not(:nth-child(3n)) {
        margin-right: 3%;
    }
    .product-page ul.products li {
        width: 31.3%;
    }   
}
@media (min-width: 1800px) {
.product-page ul.products li {
    width: 24%;
}
.product-page ul.products.list li {
    width: 100% !important;
}
.product-page ul.products:not(.list) li:not(:nth-child(4n)) {
    margin-right: 1.33%;
}   
}
.product-page ul.products li:hover {
    box-shadow: 0 14px 30px 0 rgba(0, 0, 0, 0.14);
}
.product-page .woocommerce-loop-product__title {
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #111111;
    height: 66px;
    overflow: hidden;
}
.product-page li:hover .woocommerce-loop-product__title{
    color: #01a3e0;
}
.product-page .product .price {
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #111111 !important;
}
.product-page .product .price .p-quantity {
    font-weight: normal;
        font-size: 14px;
}
.product-page .price-tag {
    width: 100%;
    display: block;
    text-align: right;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #666666;
    margin-top: 5px;
}
.product-page .woocommerce-loop-product__discription {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #333333;
    padding-top: 0px;
    height: 120px;
    overflow: hidden;
    margin-bottom: 15px;
    margin-top: 10px;
}
.product-page .product-code {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #111111;
    display: inline-block;
}
.product-page .p-quantity {
    font-weight: normal;
}
.product-page span.woocommerce-Price-amount.amount {
    float: right;
}
.product-page .ListingHeader {
    margin: 30px 0 50px;
}
.product-page span.et_overlay {
    display: none;
}
.product-page nav.woocommerce-pagination {
    margin-top: 30px;
}

.product-page .page-numbers {
    text-align: center;
}

.product-page ul.page-numbers li {
    display: inline-block;
}

.product-page ul.page-numbers li a, .product-page .page-numbers {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #111111;
    padding: 0 15px;
    position: relative;
}
.product-page .page-numbers.prev,.product-page .page-numbers.next {
    font-size: 0;
}

.product-page .page-numbers.current {
    background-color: #333333;
    width: 35px;
    height: 35px;
    display: inline-block;
    padding: 6px 0;
    border-radius: 50%;
    color: #fff;
    text-align: center;
}
.product-page .prev.page-numbers:before,.product-page .next.page-numbers:before {
    content: '';
    position: relative;
    right: 100%;
    width: 15px;
    height: 15px;
    background-image: url(/wp-content/uploads/2021/07/ic-arrow-down.png);
    background-repeat: no-repeat;
    top: 0px;
    transform: rotate(90deg);
        display: inline-block;
}
.product-page div.page-numbers  .prev.page-numbers:before,.product-page div.page-numbers  .next.page-numbers:before {
    right: 0;
}
.product-page .next.page-numbers:before{
    left: 100%; 
    transform: rotate(-90deg);
}
.product-page  div.page-numbers .next.page-numbers:before{
    left: 0;
}
.product-page .ListingHeader nav.gridlist-toggle {
    margin-right: 0px !important;
}
p.font_400 {
    font-weight: 400;
}
p.woocommerce-notice.woocommerce-notice--success.woocommerce-thankyou-order-received {
    padding-bottom: 25px !important;
}

@media (max-width: 1024px) {
    .page-common #et_mobile_nav_menu {
        display: block;
    }
    .et_header_style_split #et-top-navigation .mobile_menu_bar, .et_header_style_left #et-top-navigation .mobile_menu_bar {
        padding-bottom: 0;
        margin-top: 5px;
        margin-left: 15px;
    }
    #main-header .container {
        padding: 0 15px;
    }
    .product-page .ListingHeader .result_per_page {
        margin-right: 0px;
    }
    .white-transbtn {
        margin-top: 18px;
    }
    .page-common .col-3 {
        margin-bottom: 10px;
    }
    
}
@media (max-width: 1024px) and (min-width: 769px) {
.product-page ul.products li {
    width: 47%;
}
.et_header_style_left .logo_container {
    width: 35%;
}
.product-page .ListingHeader .result_per_page {
        margin-bottom: 15px;
}
.col-3 {
    width: 49%;
    position: relative;
}
}
@media (max-width: 768px) and (min-width: 768px) {
    .product-page span.woocommerce-Price-amount.amount {
        float: left;
        margin-top: 12px;
    }
    .product-page .price-tag {
        text-align: left;
    }
    .page-common .col-3 {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    .pos-txt {
        top: 19%;
        left: 10%;
    }
}
@media (max-width: 768px) {
    .product-page #content-area {
        display: flex;
        flex-direction: column-reverse;
    }
    .product-page .ListingHeader > * {
        width: 50%;
        justify-content: space-between;
    }
    .product-page .ListingHeader nav.gridlist-toggle {
        justify-content: flex-end;
        order: 2;
    }
    .product-page select.per_page_data, .product-page .ListingHeader .orderby {
        width: 100%;
    }
    .product-page .ListingHeader .woocommerce-result-count {
        order: 1;
    }
    .product-page .ListingHeader .result_per_page{
        order: 4;
    }
    .product-page form.woocommerce-ordering{
        order: 3;
    }
    .product-page .result_per_page, .product-page form.woocommerce-ordering {
        position: relative;
        margin-top: 15px;
    }
    .page-common .col-2 {
        width: 100%;
    }
    .page-common .col-3 {
        width: 100%;
        text-align: center;
        max-width: 345px;
        margin: 0 auto 10px;
    }
}
@media (max-width: 767px) {
    .products.list span.et_shop_image {
        text-align: center;
        margin-right: 0%;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .woocommerce ul.products li.product a img {
        height: auto;
        max-width: 100%;
        width: auto !important;
    }
    ul.products.list li.product h3, ul.products.list li.product .woocommerce-product-details__short-description, ul.products.list li.product .price, ul.products.list li.product .gridlist-buttonwrap {
        width: 100%;
    }
    .users_dropdown {
        left: 0px;
    }
    .product-page .result_per_page, .product-page form.woocommerce-ordering {
        position: relative;
        width: 100% !IMPORTANT;
    }
    .product-page ul.page-numbers li a {
        font-size: 14px;
        padding: 0 5px;
    }     
    .page-common #footer-bottom .footer-logo {
        flex-direction: column;
        align-items: flex-start;
    }   
    .page-common .footer-logo .img-box {
        margin-bottom: 15px;
    }
    .page-common #et-secondary-menu {
        flex-direction: column;
    }
    .page-common #top-header .et-social-icons {
        margin-bottom: 10px;
    }
    .page-common header#main-header {
        top: 94px !important;
    }
    .page-common.logged-in header#main-header {
        top: 137px !important;
    }
    .common-head {
        font-size: 30px;
    }
/*
    .product-page .product-banner {
        padding-top: 140px;
    }
*/
    .col-6 {
        width: 100%;
    }
    .et_header_style_left .logo_container {
        width: 40%;
    }
    .page-common #footer-widgets {
        padding: 0% 0;
    }
    .page-common.et_header_style_left .logo_container {
        width: 38%;
    }
    .shop-banner h1 {
        font-size: 28px !IMPORTANT;
    }
/*
    .shop-banner {
        padding-top: 128px;
    }
*/
    .services p {
        max-width: 100%;
    }
/*
    .pos-txt {
        position: relative;
        top: 0;
        left: 0;
        max-width: 100%;
        margin-bottom: 20px;
    }
*/
    .pos-txt {
    /* position: relative; */
    top: 50%;
    left: 50%;
    max-width: 100%;
    margin-bottom: 0;
    transform: translate(-50%, -50%);
}
    .page-common #main-footer {
        background-color: #012269;
        padding-top: 10%;
    }
    div#n2-ss-2 .n-uc-187d8f1049b03-inner {
        padding-top: 20px !important;
    }
    #footer-widgets .footer-widget:last-child{
            margin-bottom: 9.5% !important;
    }
    .services .img-box img {
        height: 200px;
    }
/*
    .features p {
        color: #111;
    }
*/
    #footer-widgets .footer-widget:nth-child(n), .footer-widget .fwidget {
        margin-bottom: 7.5% !important;
    }
    .n2-ss-slider .n2-ss-slide-background:first-child {
        background: #c8c7d0b5;
    }
    .services h4 {
        font-size: 24px;
    }
    .n2-ss-slider .n2-ss-slide-background:first-child .n2-ss-slide-background-image img {
        height: 86%!important;
    }
    .n2-ss-slider .n2-ss-slide-background:not(:first-child) .n2-ss-slide-background-image img {
        object-fit: contain;
    }
    #main-content > .container {
        padding-top: 25px !important;
    }
}

.woo-custom-50{
    width: 49%;
    display: inline-block;
}
select.woocommerce-select {
    height: 40px;
}
p.suceess {
    text-align: center;
    color: #fff;
    background: #b9e5fb!important;
    line-height: 51px;
}
p.erro-msg{
    text-align: center;
    background: #b9e5fb;
    line-height: 51px;
    color: #FF0000;
}
.product_meta.dfsd {
    display: none;
}
li#tab-title-additional_information {
    display: none;
}
@media (max-width: 320px){
     .page-common header#main-header {
        top: 114px !important;
    }   
    .page-common #et_top_search, .page-common .et-cart-icon, .page-common .dropbtn {
        width: 30px;
        height: 30px;
        margin: 8px 0px 0 5px;
        background-size: cover;
    }
}
.single.single-product #sidebar, .single.single-product #main-content .container:before {
    display: none !IMPORTANT;
}
.single.single-product #left-area{
    width: 100% !important;
}
ul#top-menu li.active a{
     background: #00a3e0;
    color: white;
    display:block;   
}